.button-control {
  position: absolute;
  right: 30px;
  bottom: 15px;
}

.button-delete {
  position: absolute;
  right: 30px;
  top: 15px;
}

.mat-icon {
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 20px;
}

.mat-icon-button {
  height:30px;
  width:30px;
  line-height:30px;
}

.mat-card-subtitle {
  position: absolute;
  bottom: 20px;
  margin-bottom:0px;
}

.mat-card { min-height: 50px;}